.logo{
  float: left;
}

.logo img{
  height: 180px;
}

.navigation li {
  display: inline;
  padding-left: 65px;
  padding-right: 65px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
.navigation{
  background: black;
  position: sticky;
  top: 200px;
}

.header{
  position: sticky;
  top: 0; 
}
a:hover{
  color: gray;
}

nav ul {
  width: 940px;
  text-align: center;
  margin-left: 0;
  padding: 10px;
}

.head {
  float: right;
}
  
.head img {
  height: 200px;
  width: 650px;
}

.hero{
  display: inline;
}

.hero img{
  width: 960px;
  height: 400px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.hero p{
  text-align: center;
  padding: 0px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 40px;
}


.heroinfo{
  text-align: center;
  background: url(../img/hero1.jpg);
  height: 200px;
  width: 960px;
  padding: 0;
}

.heroinfo section{
  margin-top: 75px;
}
h3{
  box-sizing: border-box;
  padding: 10px;
  color: white;
  font-family: sans-serif; 

}

.prefoot a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.prefoot a:hover{
  color: gray;
}

.prefoot{
  text-align: center;
  
  height: 200px;
  width: 960px;
  padding: 0;
}

.newsletter{
  background: url(../img/newletter.jpg);
  height: 200px;
}

.newsletter h3{
  margin-top: 75px;
}

.links{
  background: url(../img/links2.jpg) ;
  height: 200px;
  width: 470px;
  text-align: center;
}

.links ul{
  list-style-type: none;
  text-align: left;
  margin-top: 75px;
  word-spacing: 20px;
}

.footer ul li {
  display: inline;
  padding-left: 120px;
  padding-right: 120px;
}

.footer ul{
  margin-top: 40px;
}