.logo{
  float: left;
  height:200px;
  width: 310px;
}

.logo img{
  height: 200px;
  width: 310px;
}

.navigation li {
  display: inline;
  padding-left: 65px;
  padding-right: 65px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
.navigation{
  background: black;
  position: sticky;
  top: 200px;
  padding: 0;
}

nav ul {
  width: 940px;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  padding: 20px;
}

.header{
  position: sticky;
  top: 0; 
}

a:hover{
  color: gray;
}

.head {
  float: right;
  height: 200px;
}
  
.head img {
  height: 200px;
  width: 650px;
}

.hero img {
  width: 960px;
  height: 400px;
}

.hero{
  background: rgb(146, 241, 241);
}

.hero p{
  text-align: center;
  padding: 0px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 40px;
  text-shadow: 2px 2px 2px gray;
  height: 60px;
}

.heroinfo{
  text-align: center;
  background: url(../img/hero1.jpg);
  height: 200px;
  width: 960px;
}

.heroinfo section{
  margin-top: 75px;
}

h3 {
  box-sizing: border-box;
  /* padding: 10px; */
  color: white;
  font-family: sans-serif; 

}

.prefoot a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.prefoot a:hover{
  color: gray;
}

.prefoot{
  text-align: center;
  border-left: 0;
  border-right: 0;
  height: 200px;
  width: 960px;
  padding: 0;
}

.newsletter{
  background: url(../img/newletter.jpg);
  height: 200px;
  width: 470px;
  margin: 0;
  padding: 0;
}

.newsletter h3 {
  margin-top: 75px;
  margin-left: 0;;
}

.links {
  background: url(../img/links2.jpg) ;
  height: 200px;
  width: 480px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.links ul {
  list-style-type: none;
  text-align: center;
  margin-top: 75px;
  word-spacing: 40px;
}

.footer ul li {
  display: inline;
  color: white;
  padding: 350px;
}

.footer{
  width: 960px;
  background: black;
  height: 100px;
  text-align: center;

}

.ext img{
  width: 60px;
  height: 60px;
}

.ext{
  margin-top: 20px;
}

.grid_6{
  margin-left: 0;
  margin-right: 0;
}



