h1{
   font-size: 120px;
   text-align: center;
   margin-top: 50px;
   font-family: sans-serif;
   letter-spacing: 15px;
   color: gray;
   text-transform: lowercase;
   text-shadow: 6px 10px 10px gray;

}

.box{
    width: 400px;
    height: 400px;
    margin: auto;
    background: red;
    position: absolute;
    top: 10px;
    left: 10px;
}

.wrap{
position: relative;
width: 800px;
height: 1000px;
margin: auto;
background: gray;
}

body{
    margin: 0px;
}