h1{
   font-size: 120px;
   text-align: center;
   margin-top: 50px;
   font-family: sans-serif;
   letter-spacing: 15px;
   color: gray;
   text-transform: lowercase;
   text-shadow: 6px 10px 10px gray;

}

.box{
    width: 400px;
    height: 400px;
    margin: auto;
    background: red;
    position: absolute;
    top: 10px;
    left: 10px;
}

.wrap{
position: relative;
width: 800px;
height: 1000px;
margin: auto;
background: gray;
}

body{
    width: 600px;
    margin: 20px 20px;
    font-family: sans-serif;
}

article h2{
    font-size: 39px;
    line-height: 1em;
    margin-bottom: 0px;
}

article img{
    float: left;
    margin-right: 30px;
}
.preview{
    float: right;
    width: 350px;
}

a{
    color: green
}

.meta{
    padding-left: 0px;
}
.meta a{
    font-style: italic;
    font-style: 14px;
}

.meta li{
    display: inline;
}

.meta li:after {
    content: "\\";
    padding: 0 3px;
    color: #999;
}

.meta li:last-child:after {
    content: none;
}

.post_info {
    background: rgb(241, 239, 239);
    color: #999;
    padding: 3px;
    font-style: italic;
}

.post_info a{
    color: #999;
    text-decoration: none;
}

a:hover{
    color: black;
}

body{
    clear: right;
    font-size: 14px;
}

.more{
    float: right;
    font-style: italic;
}
