
/* Header unit */
.logo{
    float: left;
    height:200px;
    width: 310px;
  }
  
  .logo img{
    height: 200px;
    width: 310px;
  }

  .header{
    position: sticky;
    top: 0; 
  }
  
  a:hover{
    color: gray;
  }
  
  .head {
    float: right;
    height: 200px;
  }
    
  .head img {
    height: 200px;
    width: 650px;
  }
  
  /* Navigation unit */
  .navigation li {
    display: inline;
    padding-left: 65px;
    padding-right: 65px;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  .navigation a {
    text-decoration: none;
    color: white;
  }
  .navigation{
    background: black;
    position: sticky;
    top: 200px;
    padding: 0;
  }
  
  nav ul {
    width: 940px;
    text-align: center;
    margin-left: 0;
    margin-top: 0;
    padding: 20px;
    margin-bottom: 0px;
  }
  
  
/* Hero unit */
  .hero{
      background: url(../img/hero5.jpg);
      background-size: 960px 600px;
  }

  .recos{
      text-align: center;
      
  }

  .recos a{
      text-decoration: none;
  }
  .recos h1{
      padding: 20px;
      font-size: 60px;
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px 2px rgb(53, 53, 110);
      
  }
#Recording {
    color: white;
}

  .recos h3{
    padding: 20px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px rgb(53, 53, 110);
}

.albums section img{
    height: 170px;
    width: 200px;
    margin: 10px;
}

.albums section{
    padding: 10px;
}

/* Prefoot unit */
.offer{
    background: rgb(252, 213, 40);
}
.offer h1{
    text-align: center;
}
.offer h1 a{
    text-decoration: none;
}

#Preorder{
    color: black;
}

#Preorder:hover{
    color: gray;
}

/* Footer unit */
.footer{
    width: 960px;
    text-align: center;
    background: black;
  }
  
  .footer p{
    color: white;
    padding: 10px;
  }
    
  .ext img{
    width: 60px;
    height: 60px;
  }
  
  .ext{
    margin-top: 20px;
  }  
 
  body{
      margin-top: 0;
      margin-bottom: 0;
  }